<div class="row">
	<div class="col-md-6">
		<p>
			<img src="<%= url_for("/img/nick-larsen.jpg") %>" alt="nick larsen" style="max-width:100%">
		</p>
		<ul class="list-inline text-center social-icons">
            <li>
                <a href="https://twitter.com/fody">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://stackoverflow.com/users/178082/nick-larsen">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://github.com/NickLarsen">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
	</div>
	<div class="col-md-6 text-justify">
		<p>
		I'm Nick Larsen.  I've been writing code since I was 11 and I currently 
		work as a data engineer at <a href="https://stackoverflow.com">Stack Overflow</a>.
		I'm also studying for a masters of computer science at <a href="http://www.cc.gatech.edu/">Georgia Tech</a>.
		I'm a husband, a father, a high power rocketry enthusiast and I love games.
		</p>
		<p>
		My passion is building tools that make people's lives easier and
		educating people to be able to achieve their goals on their own.
		<a href="http://i1.blogs.msdn.com/b/brada/archive/2003/10/02/50420.aspx">The pit of success</a> 
		is a metaphor for tools that lead you down the path of success simply 
		by using those tools.  This is what I strive for when building things, 
		and this site is where I share those tools.
		</p>
	</div>
</div>