<nav class="site-nav">
	<a href="<%= url_for() %>">about</a>
	<% site.categories.each(function(category){ %>
	<a href="<%= url_for(category.path) %>"><%- category.name %></a>
	<% }) %>
	<a href="<%= url_for("unstuck-info", {relative:false}) %>">UNSTUCK</a>
</nav>